
<!--                 TOOLBAR  -->

<!-- <mat-toolbar color="primary" class="nav-bar">
    <div>EthioClick</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar> -->

<!--   Sidenav Bar -->


<!-- <mat-sidenav-container>
    <mat-sidenav #sidebar mode="push" [(opened)]="opened">SideBar</mat-sidenav>
    <mat-sidenav-content color="primary">Main
        <button (click)="opened=!opened">Toggel Open</button>
        <button (click)="sidebar.open()">open</button>
        <button (click)="sidebar.close()">Close</button>
        <button (click)="sidebar.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>

-->

    <!--    MATERIAL MENU -->

<!-- 
    
    <mat-menu #matmenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="frontend" xPosition="after" yPosition="above">front end</button>
    <button mat-menu-item [matMenuTriggerFor]="backend">back end</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="matmenu">menu</button>
<mat-menu #frontend="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>react</button>
    <button mat-menu-item>Vue</button>
</mat-menu>
<mat-menu #backend="matMenu" class="sub-button">
    <button mat-menu-item>NodeJs</button>
    <button mat-menu-item>Java</button>
    <button mat-menu-item>Python</button>
</mat-menu>

-->

<!--                   MATERIAL LIST     -->


<!-- <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list> -->

<!--     MATERIAL EXPANSION COMPONENT -->

<!-- <mat-accordion hideToggle="true" multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Material</mat-panel-title>
            <mat-panel-description>Total Time Require: 3 hour</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit omnis quod sunt tempore, facilis doloribus? Rem quibusdam quam labore magnam?</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular</mat-panel-title>
            <mat-panel-description>Total Time Require: 2 hour</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit omnis quod sunt tempore, facilis doloribus? Rem quibusdam quam labore magnam?</p>
    </mat-expansion-panel>
</mat-accordion> -->


<!--    MATERIAL CARD -->


        <!-- <mat-card class="example">
            <mat-card-header>
                <div mat-card-avatar class="header-img"></div>
                <mat-card-title>Lorem, ipsum.</mat-card-title>
                <mat-card-subtitle>Lorem, ipsum.</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Like</button>
                <button mat-button>share</button>
            </mat-card-actions>
        </mat-card> -->
          


        <!--               MATERIAL FORM    -->

        <!-- <form  #form="ngForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput required ngModel name="abebe" #name email>
                <mat-hint *ngIf="!form.valid&&form.touched">Name cannot be empty</mat-hint>
            </mat-form-field>
        </form>
        <mat-form-field> -->

<!-- <mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select multiple="true">
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
    </mat-select>
</mat-form-field> -->







<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn"  (click)="openDialog()">Add Product</button>
  </mat-toolbar>
  <app-table-list></app-table-list>
  









         